node_modules/
.next/
.git/
dist/
build/
coverage/
*.min.js
backend/**/venv/
backend/**/coverage_html.js
backend/**/htmlcov/
*.pyc
__pycache__/
backend/**/alembic/versions/
*.egg-info/
.env
.env.local
.env.production.local
.env.test.local